.RequestList {
    height: 40vh;
    width: 100%;
    box-shadow: none;
}

.actionButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    background-color: #F4F5F1;
}

.requestTable {
    height: 100%;

}

.colHeader {
    font-size: 16px;
    font-weight: bolder;
}