.Responder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.requestListContainer {
    min-width: 75%;
}

@media only screen and (max-width: 800px) {
    .requestListContainer {
        min-width: 95%;
    }
}