h1 {
  font-size: 40px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.App {
  text-align: center;
}

.active-link {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
}

.inactive-link {
  /*color: black;*/
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
}

.inactive-link:hover {
  transform: scale(1.01);
  transition-duration: 100ms;
  background-color: rgba(0, 0, 0, 0.1);
}

.top-banner {
  display: inline;
  width: 100%;
  border-bottom: 1px solid darkgray;
}

.welcome-title {
  color: gold;
  text-align: center;
}
