h1 {
  font-size: 40px;
  font-weight: 200;
}

.App {
  text-align: center;
}

.active-link {
  color: green;
  padding: 5px;
  text-decoration: none;
  width: 100%;
}

.inactive-link {
  color: black;
  padding: 5px;
  text-decoration: none;
  width: 100%;
}

.inactive-link:hover {
  transform: scale(1.01);
  transition-duration: 100ms;
  background-color: rgb(237, 247, 237);
}

.full-size-img{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
}

.top-banner {
  display: inline;
  width: 100%;
  border-bottom: 1px solid darkgray;
}

.welcome-title {
  color: gold;
  text-align: center;
}
